.main{
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('https://s3-alpha-sig.figma.com/img/dac0/778e/82f1206f112335e2ee4d938ba64f02d6?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GgLucjcdvpPeSVFdDxpT6nNwWkmOLFXXcqJRBC4-XokjkYWa9Vb9qWZNJLkFPvOYNolxtc9h21T999itb~rAOd9TujM0eN~6JXQhW12B4atO-jTKmafjc-cr2wQREDt8j4PhzefonAwzVmdVFfWHRwf8U4nucLzZ9a48OOUWhF1JODjEbwjP1v8smfmTfPc4UtkxjsWY1kV93mcmur4QlrkxK9Jf7X3s3uXI5AM-yHBGhyQZF~dH6xXP49TbyKe-xdztql1YHeUUlUuWhWPH~ZO4NXXt~iD~d7o13JF3vWG2vinrblfZ6wkvUru7~Z0sgJi0mPp0ttICqyPAimaypA__');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    /* padding: 0 104px; */
    text-align: center
}

.main__content{
    max-width: 608px;
    margin: 80px auto 64px;
}

.main__title{
    font-family: "Roboto slab";
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    color: white;
}

.main__text{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: white;
}

@media screen and (max-width: 768px) {
    .main{
        padding: 0 40px;
        /* height: 400px; */
    }

    .main__content{
        max-width: 385px;
        margin: 38px auto 48px;
    }

    .main__title{
        font-size: 36px;
        line-height: 40px;
    }
    
}

@media screen and (max-width: 550px) {
    .main{
        padding: 0 40px;
    }
}

@media screen and (max-width: 400px) {
    .main{
        padding: 0 16px;
    }
}

@media screen and (max-width: 350px) {
    .main{
        padding: 0 16px;
    }

    .main__content{
        max-width: 285px;
        margin: 30px auto 60px;
    }

    .main__title{
        font-size: 32px;
        line-height: 40px;
    }

    .main__text{
        font-size: 20px;
    }
    
}