.saved-news-container {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .saved-news-container {
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* padding: 0 40px; */
        margin: 0;
    } 
}

@media screen and (max-width: 320px) {
    .saved-news-container {
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    } 
}