.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0 104px;
}

.about__image {
    display: block;
    position: relative;
    border-radius: 50%;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    background: url('https://s3-alpha-sig.figma.com/img/dac0/778e/82f1206f112335e2ee4d938ba64f02d6?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NNcP08d9u1F-CjuvQ9B9dnWkcZGJC5KlpOjqEACAiquVzPWcz-yIENzLhu1Mw6hR~FMKjbeSU6CyJFGcQnOYZpb6GuVMDTLWBITuS-7XsFG41n-zzC35k3OSxabO2P86yVcDpUk0TJJBCOBaH4Suq8STITDr2L29B-rvwuTRp8z3JLsq6DHPyZ9B7gE6~wnFhryoTN2wd0XoaUNxCIGSbEkKP6MojeNWXwcQ2dTa-dMn0~6ieBU0wHHoeSMoRo~kNdzb2esPM52uTW4XTVVrYjjWXoCqrhtQxqKMXxPKZarW4cjPN688slLdQ8F4kihg9k5fmRIGrUoO~6H~7WmMkQ__');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about__text-container {
    width: 600px;
    height: 120px;
    margin-left: 56px;
    margin-top: 51px;
}

.about__title {
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
}

.about__description {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}