.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5px 104px 0;
    z-index: 3;
    margin: 0;

}

.header__black{
    padding: 5px 104px 0;
}

.header__logo {
    font-family: "Roboto slab";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; 
}

.header__divider {
    border-bottom: 1px solid white;
    width: 100vw;
    box-sizing: border-box;
    /* margin: 0 -40px; */
  }

.header__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 5px 104px 0;
}

.header__container-text {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin: 0;
    background-color: transparent;
    border: none;
}

.header__text-hidden {
    visibility: hidden;
    font-size: 0;
    font-weight: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: white;
    
}

.header__text-hidden-black {
    visibility: hidden;
    font-size: 0;
    font-weight: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    color: black;
}

.header__text {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    width: auto;
    visibility: visible;
    background-color: transparent;
    border: none;
    color: white;
    margin: 0;
}

.header__text-button {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: white;
    column-gap: 5px;
}

.header__outicon-hidden {
    visibility: hidden;
    width: 0;
}

.header__outicon {
    width: 17px;
    height: 16px;
    margin-left: 10px;
    visibility: visible;
}



/* -----------------------------Black letter ----------------------*/

.header-black {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding-top: 5px;
    z-index: 3;
}

.header__container-text-black {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin: 0;
    background-color: transparent;
    border: none;
}

.header__logo-black {
    color: black;
    font-family: "Roboto slab";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.header__divider-black {
    display: block;
    border-bottom: 1px solid black;
    width: 100vw;
    max-width: 1440px;
  }

.header__text-black {
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    width: auto;
    visibility: visible;
}

.header__text-button-black {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    border: 1px solid;
    border-radius: 100px;
    background-color: transparent;
    width: auto;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    color: black;
    column-gap: 5px;
}


.header__text-inicio-active::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: -20px;
    height: 2px;
    width: 140%;
    background-color: white;
}

.header__text-saved-active::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: -20px;
    height: 2px;
    width: 112%;
    background-color: black;
}


/* celular */
.header__container-text-celular-hidden{
    display: none;
}

@media (hover: hover) {
    .header__text:hover {
        cursor: pointer;
        position: relative;
        transform: scale(1.03);
    }

    .header__text:hover::after {
        content: '';
        position: absolute;
        left: -10px;
        bottom: -20px;
        /* Esto controla la distancia */
        height: 2px;
        background-color: white;
    }

    .header__text-inicio:hover::after {
        width: 140%;
    }

    .header__text-saved:hover::after {
        width: 112%;
    }

    .header__text-button:hover {
        cursor: pointer;
        opacity: 80%;
        transform: scale(1.03);
    }

    .header__text-button:active {
        border-color: #2A65CC;
    }

    
    .header__text-button-black:hover {
        cursor: pointer;
        opacity: 80%;
        transform: scale(1.03);
    }

    .header__text-black:hover{
        cursor: pointer;
        position: relative;
        transform: scale(1.03);
    }

    .header__text-inicio-black:hover::after {
        width: 140%;
        background-color: black;
    }

    .header__text-saved-black:hover::after {
        width: 112%;
        background-color: black;
    }

}

@media screen and (max-width: 768px){
    .header, .header__black{
        padding: 5px 10px 0;
    }

    
}

@media screen and (max-width: 600px) {
  

    .header__container-text{
        background-image: url('../../images/headerMenuWhite.png');
        background-repeat: no-repeat;
        margin-top: 16px;
        height: 24px;
        width: 24px;
    }

    .header__container-text-black{
        background-image: url('../../images/HeaderMenuBlack.png');
        background-repeat: no-repeat;
        margin-top: 16px;
        height: 24px;
        width: 24px;
    }

    .header__container-text-celular{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .header__text, .header__text-black{
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    .header__text-button, .header__text-button-black{
        display: none;
    }
/* --------------------------------------------------------------------------------- */
    .header__text-hidden-celular {
        visibility: hidden;
        font-size: 0;
        font-weight: 0;
        line-height: 0;
        width: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        color: white;
        
    }
    
    .header__text-hidden-black-celular {
        visibility: hidden;
        font-size: 0;
        font-weight: 0;
        line-height: 0;
        width: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        color: black;
    }
    
    .header__text-celular {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        position: relative;
        width: auto;
        visibility: visible;
        background-color: transparent;
        border: none;
        color: white;
        margin: 0;
    }
    
    .header__text-button-celular {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        position: relative;
        border: 1px solid;
        border-radius: 100px;
        background-color: transparent;
        width: auto;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        color: white;
        column-gap: 5px;
    }
    
    .header__outicon-hidden-celular {
        visibility: hidden;
        width: 0;
    }
    
    .header__outicon-celular {
        width: 17px;
        height: 16px;
        margin-left: 10px;
        visibility: visible;
    }
    
    
    
    /* -----------------------------Black letter ----------------------*/
    
    .header__black-celular {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        padding-top: 5px;
        z-index: 3;
        background-color:rgba(57, 5, 105, 0.486);
        margin: 0 -40px;
        
    }
   

    
    
    .header__container-text-black-celular {
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;
        margin: 0;
        background-color: transparent;
        border: none;
    }
    
    .header__logo-black-celular {
        color: black;
        font-family: "Roboto slab";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
    
    .header__divider-black-celular {
        border-bottom: 1px solid black;
        width: 100vw;
        box-sizing: border-box;  
        display: block;
    box-sizing: border-box;
      }
    
    .header__text-black-celular {
        color: black;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        position: relative;
        width: auto;
        visibility: visible;
    }
    
    .header__text-button-black-celular {
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        position: relative;
        border: 1px solid;
        border-radius: 100px;
        background-color: transparent;
        width: auto;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        color: black;
        column-gap: 5px;
    }
    
    
    .header__text-inicio-active::after {
        display: none;
    }
    
    .header__text-saved-active::after {
        display: none;
    }
    

 
}