.card__container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    height: 576px;
    border: none;
    text-align: left;
    position: relative;
    background-color: white;
}

.card__text-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 12px;
    margin: 20px 24px 24px 24px;
}

.card__image {
    height: 272px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
}

.card__date {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #B6BCBF;
    /* margin: 8px 0 24px; */
    margin: 0;
}

.card__title {
    font-family: 'Roboto Slab';
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

.card__description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    /* margin: 38px 0 18px; */
    margin: 0;
}

.card__source {
    font-family: 'Roboto Slab';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #B6BCBF;
    margin: 0;
}

.card__button-container {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__button-save {
    opacity: 30%;
    width: 14px;
    height: 19px;
}

.card__button-delete {
    opacity: 30%;
    width: 18px;
    height: 19px;
}

.card__topic-container {
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 24px;
    left: 24px;
}

.card__topic-text {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    margin: auto;
    padding: 0 14px;
}

.card__tooltip-container {
    height: 40px;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    position: absolute;
        top: 24px;
        right: 69px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card__tooltip {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    text-align: center;
    padding: 0 10px;
    margin: auto;
}



@media (hover: hover) {
    .card__button-save:hover {
        cursor: pointer;
        opacity: 100%;

    }

    .card__button-delete:hover {
        cursor: pointer;
        opacity: 100%;
    }

    .card__button-container:hover{
        cursor: pointer;
    }

    .card__button-container:hover~.card__tooltip-container {
        opacity: 1;
    }

    .card__button-container:hover~.card__tooltip-container .card__tooltip {
        opacity: 1;
    }
}